@use "styles/common" as *;

.HomePage {

  margin-top: $app-header-height;

  .sectionTitle {
    color: $color-theme-green;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 24px;
  }
}