@use "styles/common" as *;

.NewsSection {
  // background-color: $color-dark-bg-card;
  padding: 120px 0;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url(/graphic-banner-section-d.png);

  .overlay {
    background-color: #000;
    opacity: 0.5;
    // background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.5) 99%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .sectionContentContainer {
    position: relative;

    .sectionContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      column-gap: 96px;
      width: 100%;

      .title {
        color: #fff;
        font-family: 'MonumentExtended';
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom: 24px;
        font-weight: bold;
        text-align: center;

        @include responsive('md') {
          text-align: left;
          font-size: 40px;
          line-height: 46px;
        }
      }

      .description {
        color: #fff;
        // font-family: 'MonumentExtended';
        font-size: 16px;
        max-width: 600px;
        text-transform: uppercase;
        margin-bottom: 24px;
        // font-weight: bold;
        text-align: center;
        opacity: 0.6;
      }

      .newsGrid {
        // background-color: red;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 96px;
        row-gap: 24px;

        @include responsive('md') {
          width: 100%;
          grid-template-columns: repeat(2, 1fr);
        }

        .newsCard {
          color: #fff;
          border: 1px solid $color-separator;
          transition: all 0.25s ease-in;

          @include responsive('md') {
            &:hover {
              border: 1px solid $color-theme-yellow;
              .newsCoverImage {
                border-bottom: 1px solid $color-theme-yellow;;
              }
            }
          }

          .newsCoverImage {
            height: 200px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-bottom: 1px solid $color-separator;
            transition: all 0.25s ease-in;

            @include responsive('md') {
              height: 300px;
            }
          }

          .newsContent {
            padding: 24px;
            .newsTitle {
              color: #fff;
              font-family: 'MonumentExtended';
              font-size: 16px;
              text-transform: uppercase;
              margin-bottom: 12px;
              letter-spacing: 1px;
            }

            .newsSubTitle {
              color: #fff;
              font-size: 14px;
              opacity: 0.6;
            }
          }
        }
      }

    }
  }
}